{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 border my-2 p-4 bg-white text-center box-shadow">
            <h1>{{ profile_user }}</h1>
            <p><strong class="mr-2">{{ following_count }}</strong>following</P>
            <p><strong class="mr-2">{{ followers_count }}</strong>followers</P>
        
            {% if user.is_authenticated and profile_user != request.user %}
                {% if not following %}
                    <form action="{% url 'follow' profile_user.id %}" method="POST">
                        {%csrf_token%}
                        <button class="btn btn-dark">Follow</button> 
                    </form>
                {% else %}
                    <form action="{% url 'unfollow' profile_user.id %}" method="POST">
                        {%csrf_token%}
                        <button class="btn btn-dark">Unfollow</button> 
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<!--Post-->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mt-3 bg-white border">
        {%  include "network/posts_codeblock.html" %}
        </div>
    </div>
{% endblock %}